*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: plum;
  gap: 2rem;
}
h1 {
  color: orangered;
}
a {
  text-decoration: none;
  color: chocolate;
  border: solid 1px chocolate;
  padding: 3px;
}
